<section class="page">
  <header class="page-header">
    <div>
      <span class="eyebrow">GESTÃO ACADÊMICA</span>
      <h2>Cursos</h2>
      <p>Gerencie os cursos disponíveis.</p>
    </div>

    <a routerLink="/cursos/novo" class="button-primary">
      Novo curso
    </a>
  </header>

  @if (carregando) {
    <p>Carregando cursos...</p>
  }

  @if (mensagemErro) {
    <div class="alert-error">
      {{ mensagemErro }}
    </div>
  }

  @if (!carregando && cursos.length === 0) {
    <div class="empty-state">
      Nenhum curso cadastrado.
    </div>
  }

  @if (cursos.length > 0) {
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Categoria</th>
            <th>Carga horária</th>
            <th>Criação</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          @for (curso of cursos; track curso.id) {
            <tr>
              <td>{{ curso.titulo }}</td>
              <td>{{ curso.categoria }}</td>
              <td>{{ curso.cargaHoraria }} horas</td>
              <td>
                {{ curso.dataCriacao | date:'dd/MM/yyyy' }}
              </td>
              <td class="actions">
                <a [routerLink]="['/cursos', curso.id]">
                  Ver detalhes
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</section>
